@using SISTEMA.Models
@using SISTEMA.Models.Usuarios

@model dynamic

@Scripts.Render("~/bundles/js/Chat")



<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="Evaluación Programador WE" content="">
    <meta name="AngelO" content="">

    <title> @ViewBag.Estado</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">

        <!-- Sidebar - Brand Menu Izquierdo -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-paw"></i><sup>1.0.0</sup>
                </div>
                <div class="sidebar-brand-text mx-3">@ViewBag.Estado</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class='nav-item'>
                ";
                <a class='nav-link collapsed' href='#"">
                    <i class='fas fa-chevron-circle-down'></i>
                    <span>INTEGRANTES</span>
                </a>
            </li>
            <hr class="sidebar-divider my-0">

            @{ var Head = "";
                var Body = "";
                Body = "<ul class='list-group'> replace </ul>";


                <!--210924_2351 Agregar Seguridad a nueva Vista Pagina o Controlador en futuros agregados -->
                foreach (Persona page in Model.Personas)
                {

                    Head += "<a class='list-group-item' onclick='Chat(this.id)' id='" + page._User + "' >" + page._User + "</a>";

                }


                Head = Head.Replace("Replace", Body);
            }
            @(new HtmlString(Head))
            <hr class="sidebar-divider my-0">
            <li class='nav-item'>
                ";
                <a class='nav-link collapsed' href='#"">
                    <i class='fas fa-chevron-circle-down'></i>
                    <span>GRUPOS</span>
                    <hr class="sidebar-divider my-0">
                    <span class="input-group-btn">
                        <a class="btn btn-info" data-toggle="modal" href="#myModalGroup">Crear Grupo</a>
                    </span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">


            <div id="myModalGroup" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">GRUPO</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div> <input type="text" class="form-control autoclean obligatorioUnidad" id="txtGroup" placeholder="Nombre" required></div>
                            <div> <input type="text" class="form-control autoclean obligatorioUnidad" id="txtPersons" placeholder="Usuarios, separados por coma" required></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelUnit">CERRAR</button>
                            <div><button id=@ViewBag.Usuario onclick="InsertaGrupo(this.id)" type="button" class="btn btn-primary">GUARDAR</button></div>
                        </div>
                    </div>
                </div>
            </div>





            @{ Head = "";
                Body = "";
                Body = "<ul class='list-group'> replace </ul>";


                <!--210924_2351 Agregar Seguridad a nueva Vista Pagina o Controlador en futuros agregados -->
                foreach (Grupo gd in Model.Grupos)
                {

                    Head += "<a class='list-group-item' onclick='ChatGrupal(this.id)' id='" + gd.HGID + "' >" + gd.HGNAME + "</a>";

                }


                Head = Head.Replace("Replace", Body);
            }
            @(new HtmlString(Head))
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul><!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" id="txtSearch">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                                   id="txtNombre">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="btnBuscar">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="NameUser">@ViewBag.Usuario</span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @ViewBag.Usuario
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href=@Url.Action("VerVersiones", "Versionado")>
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="@Url.Action("Login", "Login")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    @RenderBody()
                    <div class="card">
                        <div class="card-header">
                            <div id="PersonTo"></div>
                        </div>
                        <div class="card-body">
                            <div id="Chating"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea class="form-control" id="txtMesage" rows="1"></textarea>
                        <textarea class="form-control" id="txtIdGrupo" rows="1"></textarea>
                        <button type="button" class="btn btn-primary" id="btnEnvMens" onclick="EnviarMensaje()">Enviar</button>
                        <button type="button" class="btn btn-primary" id="EnviarMsgG" onclick="EnviarMensajeGrupal()">Enviar</button>

                    </div>

                </div>
                <!-- /.container-fluid -->
                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright 2021 &copy; @ViewBag.Cliente </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
</body>

</html>
